API REST/service.wsdl

<definitions
  name="ProductInfoService"
  targetNamespace="http://example.com/productInfo"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://example.com/productInfo"
>
  <types>
    <schema
      xmlns="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://example.com/productInfo"
    >
      <element name="getProductInfo">
        <complexType>
          <sequence>
            <element name="productId" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="productInfo">
        <complexType>
          <sequence>
            <element name="name" type="string"/>
            <element name="description" type="string"/>
            <element name="price" type="float"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>

  <message name="getProductInfoRequest">
    <part name="productId" type="string"/>
  </message>
  <message name="getProductInfoResponse">
    <part name="productInfo" type="tns:productInfo"/>
  </message>

  <portType name="ProductInfoPortType">
    <operation name="getProductInfo">
      <input message="tns:getProductInfoRequest"/>
      <output message="tns:getProductInfoResponse"/>
    </operation>
  </portType>

  <binding name="ProductInfoBinding" type="tns:ProductInfoPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getProductInfo">
      <soap:operation soapAction="getProductInfo"/>
      <input>
        <soap:body use="encoded" namespace="http://example.com/productInfo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://example.com/productInfo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

  <service name="ProductInfoService">
    <port name="ProductInfoPort" binding="tns:ProductInfoBinding">
      <soap:address location="http://localhost:8000/productInfo"/>
    </port>
  </service>
</definitions>